@font-face { font-family:'Poppins-Regular'; src: url('@/assets/fonts/Poppins-Regular.ttf'); }
@font-face { font-family:'Poppins-Light'; src: url('@/assets/fonts/Poppins-ExtraLight.ttf'); }
@font-face { font-family:'Poppins-Bold'; src: url('@/assets/fonts/Poppins-Bold.ttf'); }
@font-face { font-family:'Poppins-SemiBold'; src: url('@/assets/fonts/Poppins-SemiBold.ttf'); }

:root {
        /* colors  */
    --primary-gradient-color: linear-gradient(180deg, #9e61e1 10%, #8286cc 90%);
    --emergency-gradient-color: linear-gradient(180deg, #6a3b84 -25%, #ed3b4b 100%);
    --report-gradient-color: linear-gradient(180deg, #53b4e8 10%, #4ac4ee 90%);
    --primary-color: #6200ee;
    /* --secondary-color: #f5b4b0; */
    --background-color: #f3f3f3;
    --text-color: #FFF;
    --text-secondary-color: #23036A;
    --hover-color: #F2E7FE;
    /* --success-color: #2ce27e;
    --info-color: #667dff;
    --warning-color: #FAC975; */
    --error-color: #fd003a;
    --emergency-color: #EF3B49;
    --bg-emergency-color: #ecd6da;
    --emergency-text-color: #B12D2D;
    --report-color: #4CBFEC;
    --btn-report-color: #2f8cbc;
    --light-color: #FAF9F5;
    --white-color: #ffffff;
    --input-color: #ececec;
    --border-color: #c7c7c7;
    --border-color-focus: #6300ee91;
    --shadow-color: #66666636;
    --dark-color: #434343;
    --gray-color: #0000009f;

    --shadow: 0px 0px 14px 0px var(--shadow-color);

    /* Fonts  */
    --font-family: 'Poppins-Regular', sans-serif;
    --font-family-light: 'Poppins-Light', sans-serif;
    --font-family-bold: 'Poppins-Bold', sans-serif;
    --font-family-semibold: 'Poppins-SemiBold', sans-serif;

    /* font sizes */
    --title-super: 38px;
    --title-big: 33px;
    --title-medium: 28px;
    --title-small: 24px;
  
    --subtitle-big: 19px;
    --subtitle-medium: 17px;
    --subtitle-small: 14px;
  
    --text-big: 12px;
    --text-medium: 11px;
    --text-small: 10px;

    --section: 55px;
    --side: 30px;
    --gradient-border-width: 115%;

    --transition: all 0.3s;
    --gradient-border-radius: 0% 0 95px 95px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    font-family: var(--font-family);
}

body:has(.loader),
body:has(.modal.open) {
    overflow: hidden;
}

/* Typography */
h1, h2, h3 {
    font-family: var(--font-family-semiBold);
    margin: 0;
    font-weight: normal;
}

h4, h5, h6 {
    font-family: var(--font-family);
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: var(--title-big);
}

h2 {
    font-size: var(--title-medium);
}

h3 {
    font-size: var(--title-small);
}

h4 {
    font-size: var(--subtitle-big);
}

h5 {
    font-size: var(--subtitle-medium);
}

h6 {
    font-size: var(--subtitle-small);
}

label {
    font-family: var(--font-family);
}

a, p {
    font-family: var(--font-family);
}

p {
    font-size: var(--text-medium);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-family: var(--font-family-semiBold);
    font-weight: normal;
}

span {
    font-size: var(--text-small);
    font-family: var(--font-family);
}

ul { 
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    transition: var(--transition);
    font-family: var(--font-family);
}

#app {
    
}